<p>Ola <%= @resource.email %>!</p>

<p>Alguém pediu um link para mudar sua senha. Você pode fazê-lo pelo link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se o pedido não foi seu, ignore este email.</p>
<p>Sua senha não mudará até acessar o link acima.</p>
